form(method="post",action="/api/pokemon")
  .flex-col-container
    label Name
    input(type="text",id="name",name="name")
  .flex-col-container
    label Type
    input(type="text",id="type",name="type")
  
  input(type="submit")
